name: DEPLOY

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron:  '0 18 * * 4'
  
  workflow_dispatch: 
  
jobs:
  heroku-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: shanedie/ckout@main
      - uses: shanedie/act@main
        with:
          heroku_api_key: ${{ secrets.KEY }}
          heroku_app_name: ${{ secrets.APP }}
          heroku_email: ${{ secrets.MAIL }}

       
